<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite_Parallel" parallel="methods">
 <test name="Regression"  >
    <classes>
       <class name="com.ecom.testcases.WelcomePageTest" >
		  <methods>
			  <include name="verifyTitle"/>
				<include name="verifySignInButton"  />
		  </methods>
       </class>
    </classes>
  </test>
 
 
 
 
 
 </suite>


